.SearchResults__container {
	display: flex;
	flex-direction: column;
	grid-column: 3/11;
	background-color: white;
	margin-bottom: 55px;
	min-width: 790px;
}
.SearchResults__results {
	h2 {
		color: #333;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.3;
	}
}
.SearchResults__result {
	padding: 16px 16px 16px 0;
	display: flex;
	background: white;
	border-bottom: 1px solid #a7a7a7;
	list-style-type: none;
	&:first-child {
		border-right: 5px 5px 0 0;
	}
}
.SearchResults__result__description {
	display: flex;
	flex-direction: column;
	width: 100%;
	h2,
	h2 ~ span {
		margin: 0;
		font-size: 18px;
		font-weight: 300;
	}
}

.SearchResults__result__price-state {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 32px;
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.SearchResults__result__state {
	font-size: 12px;
	margin: 10px 50px 0 0;
	color: #999999;
}
.SearchResults__result__price {
	font-size: 24px;
	color: #333333;
}

.SearchResults__result__image__container {
	margin: 0 16px;
}
.SearchResults__result__image {
	border-radius: 4px;
}

.SearchResults ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.SearchResults li {
	list-style: none;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}
.SearchResults li > div {
	display: flex;
	img {
		margin-right: 1em;
		border-right: 1px solid rgb(184, 184, 184);
	}
}
.free-shipping-logo {
	margin-left: 10px;
}
