.Header__wrapper {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	background-color: #ffe600;
	height: 50px;
}

.Header__container {
	display: flex;
	grid-column: 3/11;
	align-items: center;
	min-width: 790px;
}
