.ProductDetails__container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 3/11;
	padding: 32px;
	background-color: white;
	min-width: 790px;
	margin-bottom: 55px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.ProductDetails__product__image {
	grid-column: 1/10;
	grid-row: 1/10;
	max-width: 680px;
	min-width: 300px;
	img {
		width: 100%;
	}
}

.ProductDetails__product__main-description {
	grid-column: 10/13;
	grid-row: 1/13;
	button {
		border-color: transparent;
		background-color: #3483fa;
		color: #fff;
		width: 100%;
		height: 44px;
		font-size: 16px;
		font-weight: 600;
		line-height: 48px;
		padding: 0 24px;
		height: 48px;
		text-align: center;
		border-radius: 6px;
		cursor: pointer;
		-webkit-font-smoothing: antialiased;
	}
	header {
		display: flex;
		flex-direction: column;
	}
}

.ProductDetails__product__main-description__title {
	font-size: 24px;
	margin: 0 0 32px;
}

.ProductDetails__product__main-description__subtitle {
	font-size: 14px;
	margin-bottom: 16px;
}

.ProductDetails__product__main-description__price {
	font-size: 46px;
	margin-bottom: 32px;
}

.ProductDetails__product__description {
	grid-column: 1/10;
	grid-row: 10/13;
	h2 {
		font-size: 28px;
		margin: 0 0 32px;
	}
	p {
		margin: 0;
		font-size: 16px;
		text-align: justify;
	}
}
